.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile {
    background-color: #E6F0F2 ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px;
    width: 800px;
    height: 500px;
}

.bio {
    background-color: #ACC4C0 ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 150px;
}

.sosmed {
    background-color: #ACC4C0 ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 400px;
}

.pengalaman {
    background-color: #ACC4C0 ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 200px;
}


.fotodiri{
    border-radius: 20%;
    width: 200px;
    height: 190px;
    display: block;
    object-position: center;
    margin-bottom: 20px;
}

.logososmed {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.fontsosmed{
    font-size: small;
}

.fontdeskripsi {
    text-align :center;
    font-size: small;
}

